:root{
    --primary-color: #6066F2;
    --secondary-color: #FEA83B;
    --support-color-A: #D87EE7;
    --support-color-B: #ADCCD9;
    --support-color-C: #E8C7DC;
    --suport-color-D: #8BE1DA;
    --support-primary-color: #4F46CA;
    --white-color: #fff;
    --gray-color: rgb(60, 61, 63);
}
/*************************** Global *******************************/

/***** Typography *****/
html{
    font-family: 'Raleway', sans-serif;
}

.lead{
    font-size: 3.5rem;
    line-height: 1.5;
    padding: 1rem;
}

.compliment{
    font-size: 2.5rem;
    line-height: 1;
    padding: 0.5rem;
}

.small{
    font-size: 1.5rem;
    line-height: 1;
    padding: 0.5rem;
}

.bold{
    font-weight: bold;
}

/***** margins *****/
.m-1{
    margin: 1rem;
}

.mx-1{
    margin: 0 1rem;
}

.mxl-1{
    margin-left: 1rem;
}

.mxr-1{
    margin-right: 1rem;
}

.m-2{
    margin: 2rem;
}

.mx-2{
    margin: 0 2rem;
}

.mxl-2{
    margin-left: 2rem;
}

.mxr-2{
    margin-right: 2rem;
}

.m-3{
    margin: 3rem;
}

.mx-3{
    margin: 0 3rem;
}

.mxl-3{
    margin-left: 3rem;
}

.mxl-4{
    margin-left: 4rem;
}

.mxr-3{
    margin-right: 3rem;
}

.my-1{
    margin: 1rem 0;
}

.myt-1{
    margin-top: 1rem;
}

.myb-1{
    margin-bottom: 1rem;
}

.my-2{
    margin: 2rem 0;
}

.myt-2{
    margin-top: 2rem;
}

.myb-2{
    margin-bottom: 2rem;
}

.my-3{
    margin: 3rem 0;
}

.myt-3{
    margin-top: 3rem;
}

.myb-3{
    margin-bottom: 3rem;
}

.pull-right{
    margin-left: auto;
}

.pull-left{
    margin-right: auto;
}

.pull-center{
    margin: 0 auto;
}

/***** padding *****/
.p-1{
    padding: 1rem;
}

.px-1{
    padding: 0 1rem;
}

.py-1{
    padding: 1rem 0;
}

.p-2{
    padding: 2rem;
}

.px-2{
    padding: 0 2rem;
}

.py-2{
    padding: 2rem 0;
}

.p-3{
    padding: 3rem;
}

.px-3{
    padding: 0 3rem;
}

.py-3{
    padding: 3rem 0;
}

/*border radius*/
.round-img{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.container{
    width: 85%;
    margin: 0 auto;
}

.btn{
    padding: 0.7rem 2rem;
    font-size: 1rem;
    -webkit-border-radius: 160px;
    -moz-border-radius: 160px;
    border-radius: 160px;
    text-decoration: none;
}


.input{
    font-size: 1rem;
    padding: 0.9rem 2.2rem;
    width: 100%;
    -webkit-border-radius: 160px;
    -moz-border-radius: 160px;
    border-radius: 160px;
}



.btn-primary{
    color: var(--white-color);
    background-color: var(--primary-color);
    
}

.btn-secondary{
    color: var(--white-color);
    background-color: var(--secondary-color);
}

.btn-white{
    color: var(--primary-color);
    background-color: var(--white-color);
}

.primary-color{
    color: var(--primary-color);
}

.secondary-color{
    color: var(--secondary-color);
}

.support-color-a{
    color: var(--support-color-A);
}

.support-color-b{
    color: var(--support-color-B);
}

.support-color-c{
    color: var(--support-color-C);
}

.support-color-d{
    color: var(--suport-color-D);
}

.white-color{
    color: var(--white-color);
}

.gray-color{
    color: var(--gray-color);
}

.bg-primary{
    background-color: var(--primary-color);
}

.bg-secondary{
    background-color: var(--secondary-color);
}

.bg-white{
    background-color: var(--white-color);
}

.block{
    display: block;
}

div{
    /*border: 2px solid black;*/
}

/**************************** nav *********************************/

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--primary-color);
    height: 25%;
    padding: 1rem;
}

nav ul li{
    display: inline-block;
}

nav a{
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.nav-links{
    display: flex;
    align-items: center;
}

.nav-btns{
    display: flex;
}

/***************************** showcase *********************************/

.showcase{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    background: #f9f9f9; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #f9f9f9 1%, #9c96f2 38%, #edbfef 88%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #f9f9f9 1%,#9c96f2 38%,#edbfef 88%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #f9f9f9 1%,#9c96f2 38%,#edbfef 88%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.showcase .container{
    display: flex;
}

.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-img{
    width: 100%;
}

.showcase-email{
    margin-left: 4rem;
}

.mix{
    position: relative;
}

#envelop{
    position: absolute;
    left: 5%;
    top: 33.5%;
}

#submit{
    position: absolute;
    right: 2%;
    top: 13%;
}

/***************************** promo-design *********************************/

.promo-design{
    display: flex;
    width: 100%;
    padding: 1rem;
}

.promo-design .container{
    display: flex;
}

.purple-box{
    position: relative;
    padding: 3rem;
    width: 40%;
    color: var(--white-color);
    background-color: var(--primary-color);

}

#purple-box-img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    right: 0;
    opacity: 0.2;
}

#learnMore{
    position: relative;
    margin-top: 2rem;
    z-index: 2;
}

#learnMore:hover{
    cursor: pointer;
}

.white-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 1rem;
    width: 60%;
    grid-template-areas: 'design . sound'
                         '. update .'
                         'weigh . device';
    padding: 3rem;
    font-size: 1rem;
    color: var(--primary-color);
    justify-content: center;
    text-align: center;
    align-items: center;
}


.design{
    grid-area: design;
}

.sound{
    grid-area: sound;
}

.update{
    grid-area: update;
    color: var(--secondary-color);
}

.weight{
    grid-area: weigh;
}

.device{
    grid-area: device;
}



/***************************** color-collection *********************************/
.color-collection{
    display: flex;
}

.color-collection .container{
    display: flex;
}

.color-collection .hero-text{
    width: 100%;
    align-items: center;
}

.color-circles{
    display: flex;
    width: 50%;
    justify-content: space-around;
    padding: 0.5rem;
}

.circle{
    background: #a59ef7; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #a59ef7 0%, #f0aff7 22%, #f0aff7 22%, #689dc9 40%, #dd9c73 63%, #9897e5 75%, #e5a589 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #a59ef7 0%,#f0aff7 22%,#f0aff7 22%,#689dc9 40%,#dd9c73 63%,#9897e5 75%,#e5a589 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #a59ef7 0%,#f0aff7 22%,#f0aff7 22%,#689dc9 40%,#dd9c73 63%,#9897e5 75%,#e5a589 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    width: 5.5rem;
    height: 5.5rem;
    padding: 1rem;
}


/***************************** purple-section *********************************/
.purple-section{
    display: flex;
    background-color: var(--support-primary-color);
    color: var(--white-color);
}

.purple-section .container{
    display: flex;
}

.purple-section .hero-img{
    padding: 1rem;
    margin: auto auto;
}

.purple-section .hero-text{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.captions{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    font-size: 3.5rem;
    line-height: 1;
    margin-bottom: 3rem;
}

.features{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feature-element{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0;

}

.feature-element a{
    text-decoration: none;
    color: var(--secondary-color);
}

.feature-element h2{
    font-size: 1.5rem;
}

/***************************** promo-sale-section *********************************/
.promo-sale{
    display: flex;
}

.promo-sale-top{
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.promo-sale-top h1{
    font-size: 4.5rem;
    line-height: 1;
}

.promo-sale-top a{
    text-decoration: none;
    color: var(--white-color);
}

.arrow{
    display: flex;
    justify-content: center;
    border: 3px solid var(--white-color);
    width: 50%;
}
.arrow:hover{
    cursor: pointer;
    background-color: var(--support-primary-color);
}

.controls{
    display: flex;
    align-items: center;
    border: 2px solid var(--white-color);
    background-color: var(--primary-color);
    width: 20%;
    height: 10%;
}


.expand{
    width: 100%;
    height: 100%;
}

.promo-sale-middle{
    display: flex;
    
}

.promo-sale-middle .container{
    display: flex;
    justify-content: space-between;
}

.box{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    width: 30%;
    height: 25rem; 
     
}

.inner-box{
    position: relative;
    height: 20rem;    
}

.shopping-cart{
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: #a59ef7; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #a59ef7 0%, #f0aff7 22%, #f0aff7 22%, #689dc9 40%, #dd9c73 63%, #9897e5 75%, #e5a589 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #a59ef7 0%,#f0aff7 22%,#f0aff7 22%,#689dc9 40%,#dd9c73 63%,#9897e5 75%,#e5a589 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #a59ef7 0%,#f0aff7 22%,#f0aff7 22%,#689dc9 40%,#dd9c73 63%,#9897e5 75%,#e5a589 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.shopping-cart:hover{
    cursor: pointer;
}

.inner-box img{
    width: 100%;
}

.underline{
    padding: 0.5rem;
    border-bottom: 2px solid var(--primary-color);
}

.price-color{
    font-size: 1.5rem;
    padding: 0.5rem;
}



